@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root{
    --primary-color: #007AF3;
}

body{
    background: #f2f2f2;
    margin: 0;
    font-family: "Poppins";
}

.navbar{
    background: white;
    padding: 1em;
    .logo{
        text-decoration: none;
        font-weight: bold;
        color: black;
        font-size: 1.2em;

        span{
            color: var(--primary-color);
        }
    }
    nav{
        display: none;
    }
    .container{
        display: flex;
        place-content: space-between;
    }
    .mobile-menu{
        cursor: pointer;
    }    
}

a{
    color: #444444;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
section{
    padding: 5em 2em;
}
.hero{
    text-align: center;
}
.left-col{
    .subhead{
        text-transform: uppercase;
        font-weight: bold;
        color: gray;
        letter-spacing: .3em;
    }
    h1{
        font-size: 2.5em;
        line-height: 1.3em;
        margin-top: .2em;
    }
    .primary-cta{
        background: var(--primary-color);
        color: white;
        text-decoration: none;
        padding: .6em 1.3em;
        font-size: 1.4em;
        border-radius: 5em;
        font-weight: bold;
        display: inline-block;
    }
    .watch-video-cta{
        display: block;
        margin-top: 1em;
    }
    img{
        margin-right: .5em;
    }
}
.hero-img{
    width: 70%;
    margin-top: 3em;
}

section.features-section{
    background: #20272e;
    color: white;
}

ul.features-list{
    margin: 0;
    padding-left: .1rem;
    // display: grid;
    li{
        font-size: 1.1em;
        margin-bottom: 1em;
        margin-left: 2em;
        position: relative;

        &::before{
            content: '';
            left: -2em;
            position: absolute;
            width: 20px;
            height: 20px;
            background-image: url('../images/bullet.svg');
            background-size: contain;
            margin-right: .5em;
        }
    }
}
.features-section img{
    display: none;
}

.testimonials-section{
    background: var(--primary-color);
    color: white;
    
    li{
        background: #006BD6;
        text-align: center;
        padding: 2em 1em;
        width: 80%;
        margin: 0 auto 5em auto;
        border-radius: 1em;


        img{
            height: 5em;
            width: 5em;
            border: 5px solid #006bd6;
            border-radius: 50%;
            margin-top: -4.5em;

        }
    }
    
}

h2{
    font-size: 2em;
}

label{
    display: block;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}
input, textarea{
    width: 100%;
    padding: .8em;
    margin-bottom: 1em;
    border-radius: .3em;
    border: 1px solid gray;
    box-sizing: border-box
}

.send-message-cta{
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    border-radius: 5em;
    font-size: 1.3em;
    border: none;
    margin-bottom: 5em;
    display: inline-block;
    padding: .8em 2em;
    width: unset;
    cursor: pointer;
}

iframe{
    width: 100%;
    height: 300px;
}

nav.menu-btn{
    display: block;
}

nav{
    position: fixed;
    z-index: 999;
    width: 66%;
    right: 0;
    top: 0;
    background: #20272e;
    height: 100vh;
    padding: 1em;

    ul.primary-nav{
        margin-top: 5em;
    }
    li{
       a{
           color: white;
           text-decoration: none;
           display: block;
           padding: .5em;
           font-size: 1.3em;
           text-align: right;

           &:hover{
               font-weight: bold;
           }

       } 
    }
    .mobile-menu-exit{
        float: right;
        margin: .5em;
        cursor: pointer;
    }
}

@media only screen and (min-width: 768px){
    .mobile-menu, .mobile-menu-exit {
        display: none;
    }
}